.container_big-card{
    
    margin-left: 20px;
    margin-right: 30px;
    width: 400px;
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 10px;
}

.big-card_title>h2{
    margin-top: 10px;
    font-size: 30px;
}

.big-card_text>p{
    margin-top: 10px;
    font-weight: light;
    color:#888888;
    margin-bottom: 15px;
}

.big-card_photo > img{
    width:100%;
    min-width: 400px;
    margin-top: 10px;
}

.big-card_title > h2 > a:hover{
    text-decoration: underline;
}


