.container_content{
   
    width: 100%;
    height: 100vh;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    
    align-items: center;
}



.content_cover>img{


    width:500px;
    min-width: 500px;
    height:300px;
}

.content_description{
    margin-top: 15px;
    width:500px;
    height:200px;
    display: flex;
    justify-content: flex-start;
}

.return{
    position: absolute;
    left: 5%;
}

.return > a:hover{
    color:#a269ff;
}