<header>
    <app-menu-bar></app-menu-bar>
</header>
<app-menu-title></app-menu-title>
<div class="container_articles">
    <div class="articles_main">
        <div class="big-card_decoration">
    <div class="decoration_box"></div>
    <p>News</p>
</div>
        <app-big-card></app-big-card>
    </div>
    <div class="articles_others">
        <div class="small-card_decoration">
            <div class="decoration_box"></div>
            <p>Popular</p>
        </div>
        <app-small-card></app-small-card>
        <app-small-card></app-small-card>
    </div>
</div>