
.container_menu-bar > ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    align-content: center;
}

.container_menu-bar > ul > li {
    padding:5px
}

.container_menu-bar ul > li> a:hover{
    background-color:#a269ff;
}